export POSTGRES_INITDB_ARGS="--encoding=UTF-8 --locale=C"
export POSTGRES_USER=postgres_user
export POSTGRES_PASSWORD=postgres_password

# 以下は Optional な値である
export POSTGRES_DB=postgres
export PGDATA=/var/lib/postgresql/data

# psql や pgcli における設定項目
export PGSSLMODE=verify-ca
export PGSSLCERT=client.crt
export PGSSLKEY=client.key
export PGSSLROOTCERT=root.crt
